body {
    margin: 0;
    padding: 0;
    background-color: rgba(111, 129, 248, 0.76);
}

.ct {
margin: 180px auto;
}

.return-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.return-box h1 {
    color: rgb(246, 246, 246);
    font-size: 40px;
    margin-bottom: 19px;
}

.return-box p {
    color: white;
    font-size: 30px;
    margin-top: 18px;
}

.return-box button {
    width: 210px;
    height: 48px;
    background-color: rgb(170, 170, 244);
    color: rgb(255, 255, 255);
    font-size: 30px;
    border: solid 3px rgba(0, 0, 0, 0.464);
    border-radius: 4px;
}

.return-box button:hover {
    cursor:pointer;
    background-color: rgb(110, 110, 242);
    transition: 500ms;
}